<div class="dashboard-container">
  <!-- Log Buttons Section -->
  <div class="log-buttons">
    <button routerLink="/log-activity">Log Activity</button>
    <button routerLink="/log-journal">Log Journal</button>
  </div>

  <!-- Toggle Switches Section -->
  <div class="toggles-section">
    <h3>Daily Habits</h3>
    <div class="toggle-item" *ngFor="let toggle of toggles | keyvalue">
      <label>{{ toggle.key.replace('_', ' ') | titlecase }}?</label>
      <label class="switch">
        <input type="checkbox" [checked]="toggle.value" disabled>
        <span class="slider"></span>
      </label>
    </div>
  </div>

  <!-- Quick-start Activity Buttons Section -->
  <div class="quick-activities">
    
    <!-- Grouped activity buttons by category -->
    <div *ngFor="let category of groupedActivities | keyvalue">
      <h4>{{ category.key }}</h4> <!-- Category header -->
      
      <div *ngFor="let activity of category.value" class="quick-activity">
        <label [style.color]="activity.color">{{ activity.name }}</label>
        <button *ngIf="!activity.inProgress" (click)="startActivity(activity.name)">Start</button>
        <button *ngIf="activity.inProgress" (click)="endActivity(activity.name)">End</button>
      </div>
    </div>
  </div>
</div>
